{% block html_head_container %}
{% include 'html-header.twig' %}
{% endblock %}
<body class="{{ body_class }} fill-dark-90">
  {% if options.add_gtm == 1 %}
  {{ function('gtm4wp_the_gtm_tag') }}
  {% endif %}
  <script>
    if (window.NodeList && !NodeList.prototype.forEach) {
      NodeList.prototype.forEach = Array.prototype.forEach;
    }
  </script>

  {% if options.add_extra_js == 1 %}
  <noscript><!-- Google Tag Manager (noscript) -->
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ options.extra_js }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  {% endif %}
  {% include 'core/nav.twig' %}
  <main class="es-main" role="main">
    {% block content %}
    <!-- The template’s main content will go here. -->
    {% endblock %}
  </main>
  {% block footer %}
    {% include 'core/footer.twig' %}
  {% endblock %}
  {{ wp_footer }}

  <script>
  window.intercomSettings = {
  app_id: "r4b0c3yr"
  };
  </script>

<script>( function() { var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings); } else { var d=document; var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/r4b0c3yr';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</body>
</html>
