.es-product-header {
  background-image: none;
  background-repeat: no-repeat;
  background-size: 36% 100%;
  background-position: top right;
  transition: background-position 240ms $t-1;

  @include mq($from: 650px) {
    background-image: url("../images/product-header-bg@2x.png");
  }

  img {

    @include mq($from: 650px) {
      max-width: pxem(400);
    }
  }

  &-hidden {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }
}


