.es-table {

  &-scroll-container {
    width: 100%;
    overflow-x: scroll;

    @include mq($from: 915px) {
      overflow-x: hidden;
    }
  }

  table {
    width: 100%;
    border: 1px solid $text-dark-70;
    border-collapse: collapse;
    min-width: pxem(900);

    td,
    tfoot,
    th,
    thead,
    tr {
      border: 1px solid $text-dark-70;
    }

    thead {
      background-color: $fill-blue-dark;
    }

    tr,
    td {
      height: auto !important;
    }

    tr {

      &:first-of-type {
        background-color: $fill-blue-dark;
        border: none;

        th,
        td {
          border: none;
          color: $text-white !important;

          p,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            color: $text-white !important;
          }
        }
      }

      &:nth-child(2n) {
        background-color: $fill-blue-table;
      }
    }

    th,
    td {
      padding: pxem(15) pxem(10);
      vertical-align: top;
    }
  }
}
