@import url("https://use.typekit.net/gtk8far.css");

@mixin gotham-medium {
  font-family: "Gotham SSm A", "Gotham SSm B", serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@mixin gotham-bold {
  font-family: "Gotham SSm A", "Gotham SSm B", serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@mixin caecilia {
  font-family: "caecilia", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@mixin caecilia-italic {
  font-family: "caecilia", serif;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@mixin caecilia-bold {
  font-family: "caecilia", serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@mixin caecilia-bold-italic {
  font-family: "caecilia", serif;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@mixin akkurat {
  font-family: "akkurat-regular", serif;
  font-style: normal;
}

@mixin akkurat-italic {
  font-family: "akkurat-italic", serif;
  font-style: normal;
}

@mixin akkurat-bold {
  font-family: "akkurat-bold", serif;
  font-style: normal;
  font-display: swap;
}

@mixin akkurat-bold-italic {
  font-family: "akkurat-bold-italic", serif;
  font-style: normal;
  font-display: swap;
}
