<div class="es-nav-search xs-pl-20 xs-pr-20 sm-pl-40 sm-pr-40 xl-pl-80 xl-pr-80 fill-white">
  <div class="relative xs-pt-15 xs-pb-15 flex justify-space-between align-center">
     <form class="es-span-sm-4 flex align-center" role="search" method="get" id="searchform" action="{{site.url}}">
      <img class="es-nav-search-icon xs-mr-10" src="{{site.theme.link}}/assets/images/search-icon-blue@2x.png" alt="Small icon of a magnifying glass">
      <input class="es-nav-search-input text-20 text-dark-20" value="" name="s" type="text" placeholder="Search the site" aria-label="search-text">
    </form>
    <div class="es-nav-search-close es-nav-search-icon" id="searchClose" aria-label="close search" tabindex="0" ><img src="{{site.theme.link}}/assets/images/close-icon-dark@2x.png" alt="Close icon"></div>
  </div>
</div>
