<div class="es-col-xs-6 text-center-left" style="width:100%">
  <h3 class="xs-mb-20"><a href="{{ site.link }}" class="text-20-bold text-dark-10 decoration-none">Sorry, there are no posts in this category.</a></h3>
</div>
