<div class="es-search-header xs-pt-40 xs-pb-40 sm-pt-80 sm-pb-80 sm-mb-60">
  <div class="es-grid">
    <div class="es-row">
      <h1 class="title-1 text-dark-10 xs-mb-20 es-col-xs-6 es-offset-sm-2 es-col-sm-3">{{ term_page.name }}</h1>
     </div>
  </div>
</div>
