<section class="xs-pb-20 xs-pt-20 sm-pb-60 sm-pt-60 {{ item.image_background_white ? 'fill-white' : '' }}">
  <div class="es-grid">
    <div class="es-row">
      <div class="es-col-xs-6 es-col-sm-4 es-offset-sm-1">
        <img src="{{ TimberImage(item.image_image).src }}" alt="{{ TimberImage(item.image_image).alt }}">
      </div>
    </div>
  </div>
</section>
